[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
pyjwt = "*"
bcrypt = "4.0.1"
sqlalchemy = {version = "==2.0.*", extras = ["asyncio"]}
pydantic = {extras = ["email"], version = "1.10.7"}
asyncio = "*"
aiosqlite = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.11"
